* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media (max-width: 600px) {
    #navegacao {
        flex-direction: column; /* menu em coluninha */
        align-items: center;    /* centraliza no meio */
    }

    #navegacao p {
        font-size: 16px;  /* aumenta um pouco pra ficar legível */
        padding: 10px;
        width: 100%;      /* cada item ocupa a largura toda */
        text-align: center;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header input {
        max-width: 100%;
        margin: 10px 0;
    }
}

body {
    background-color: rgb(0, 33, 71);
}

html {
    scroll-behavior: smooth;
}

.linha-de-divisao {
    border: none;
    height: 2px;
    background-color: rgb(0, 119, 255);
}

header {
    background-color: rgb(16, 24, 39);
    color: rgb(248, 248, 255);

    width: 100%;
    height: 70px;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header h1 {
    font-size: 1.5rem;
    white-space: nowrap;
}

.barra-de-pesquisa {
    display: flex;
    align-items: center;
    gap: 5px;
}

.barra-de-pesquisa input {   
    border: none;
    border-radius: 50px;
    outline: none;

    height: 35px;
    width: 300px;

    padding: 10px;

    color: black;
    background-color: rgb(255, 255, 255);
}

.botoes-do-cabecalho {
    margin-left: 10px;

    border: none;
    border-radius: 50px;
    outline: none;

    height: 35px;
    width: 35px;

    background-color: white;
    cursor: pointer;

    transition: transform 0.3s ease;
}

.botoes-do-cabecalho:hover {
    transform: scale(1.2);
    background-color: rgb(0, 119, 255);
}

.icones {
    display: flex;
    align-items: center;
    gap: 5px;
}


.carrossel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgb(16, 24, 39);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
    height: 300px;
    object-fit: cover;
}

.carrossel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: rgba(16, 24, 39, 0.7);
    color: rgb(255, 255, 255);
    font-size: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
    padding: 10px;
    justify-content: center;
    transition: transform 0.3s ease;
}

.carrossel button:hover {
    transform: translateY(-50%) scale(1.12);
}

.anterior {
    left: 12px
}

.proximo {
    right: 12px;
}


#navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 15px 0;
    background-color: rgb(16, 24, 39);
    width: 100%;
    height: 50px;
}

#navegacao a {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 16px;
    cursor: pointer;
}

#navegacao a:hover {
    color: rgb(0, 119, 255);
}

#apresentacao-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#promocoes {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px 0;
    flex-wrap: wrap;
}

.produto-card {
    width: 280px;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 12px;
    overflow: hidden;
    background: rgb(16, 24, 39);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 119, 255, 0.4), 0px -6px 16px rgba(0, 119, 255, 0.4);
    cursor: pointer;
}

.produto-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-bottom: 2px solid rgb(0, 119, 255);
}

.produto-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background: #111; 
    height: 70px;
    border-top: 2px solid #0a1a3c;
}

.produto-nome {
    font-size: 18px;
    font-weight: bold;
    margin: 5px  0;
    color: rgb(255, 255, 255);
}

.produto-precos {
    text-align: right;
}

.produto-preco-antigo {
    font-size: 12px;
    color: rgba(255, 0, 0, 0.918);
    text-decoration: line-through;
    margin: 4px 0;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 119, 255);
    margin: 6px 0;
}